<table>
  <h2>User info</h2>
  <tr><%= attachment_image_tag user, :profile_image, size: "100x100", fallback: "no_image.jpg" %></tr>
  <table class="table">
   <tr>
     <th>name</th>
     <th><%= user.name %></th>
   </tr>
   <div class="form-body row">
     <tr>
       <th>introduction</th>
       <th><%= user.introduction %></th>
     </tr>
   </div>
  </table>
</table>
<div class="row">
   <% if user.id == current_user.id %>
   <td><%= link_to " ", edit_user_path(user), class:"btn btn-outline-secondary btn-block fas fa-user-cog" %></td>
   <% else %>
   <td><%= link_to " ", user_path(current_user), class:"btn btn-outline-secondary btn-block fas fa-user-cog" %></td>
   <% end %>
</div>

